@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

body {
  background-image: url("./background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.majak-view {
  .video-wrapper {
    cursor: pointer;
    background-color: rgba(255,255,255,0.25);
  }
}
